
.topbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    /* padding-bottom: 0.5em; */
    height: 100px;
    
    background-color: rgb(var(--color-primary-dark));

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav {
    display: flex;
}


.navbutton {
    margin: .75em;
    padding: 0.25em;
    font-size: 24px;
    /* border: 0.1em solid #555555; */
    background-color: rgb(var(--color-primary-light));
}

.navbutton.active {
    background-color: rgb(var(--color-secondary-dark));
}
