
.topbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    /* padding-bottom: 0.5em; */
    height: 100px;
    
    background-color: var(--bg-topbar-color, red);
    
    /* background-image: url('../../assets/auto-cropped.jpg'), linear-gradient(to right, black, white);
    background-size: auto 100%; */
    /* background: linear-gradient(to right, #111111, #111111, transparent), url("../../assets/auto-cropped.jpg") no-repeat center;  */
    background-image: url("../../../assets/car-cropped-faded.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right;

    display: flex;
    align-items: center;
}

#nav {
    display: flex;
}