<div class="topbar-container">
    
    <div id="nav">
        <a class="site-link navbutton" routerLink="/admin/info"
            [class.active]="router.url.includes('admin/info')"
        >
            Info
        </a>
        <a class="site-link navbutton" routerLink="/admin/news"
            [class.active]="router.url.includes('admin/news')"
        >
            News
        </a>
        <a class="site-link navbutton" routerLink="/admin/subs"
            [class.active]="router.url.includes('admin/subs')"
        >
            Abos
        </a>
    </div>

</div>