
.prop-list {
    display: flex;
    flex-direction: column;

    color: black;
}

.prop-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 2px;
}

.prop-element > label {
    margin-right: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;

    /* border: 1px solid rgb(var(--color-primary-dark)); */
    border: none;
    padding: 5px;
}
