
<div class="prop-list">

    <div class="prop-element">
        <label for="input-name">Name</label>
        <input id="input-name" type="text"
                [value]="data.name"
                (input)="onNewDataName($event)">
    </div>

    <!-- <div class="prop-element">
        <label for="input-group">Gruppen</label>
        <fieldset id="input-group">
            <label *ngFor="let g of groupData">
                <input type="checkbox" name="groups"
                        [value]="g.id"
                        [checked]="data.groups.includes(g.id)"
                        (input)="onNewDataGroups($event)">
                {{g.name}}
            </label>
        </fieldset>
    </div> -->

</div>
