
<div id="container">
   
    <p>Titel</p>
    <div class="editor-container">
        <app-admin-editor #editorTitle [data]="data.title" (newDataEvent)="onNewDataTitle($event)">
        </app-admin-editor>
    </div>

    <p>Nachricht</p>
    <div class="editor-container">
        <app-admin-editor #editorMessage [data]="data.message" (newDataEvent)="onNewDataMessage($event)">
        </app-admin-editor>
    </div>

    <!-- <button (click)="onClick()">
        DEBUGAA
    </button> -->

</div>
