
<div id="container">
   
    <div id="text-pane">
        <p>Titel</p>
        <div class="editor-container">
            <app-admin-editor #editorTitle
                    [placeholder]="isPoster? placeholderTitle : ''"
                    [data]="data.title"
                    (newDataEvent)="onNewDataTitle($event)"
            >
            </app-admin-editor>
        </div>

        <p>Nachricht</p>
        <div class="editor-container">
            <app-admin-editor #editorMessage
                    [placeholder]="isPoster? placeholderMessage : ''"
                    [data]="data.message"
                    (newDataEvent)="onNewDataMessage($event)"
            >
            </app-admin-editor>
        </div>
    </div>

    <div id="side-pane"
            [class.unsynced]="syncState == eSyncState.unsynced"
            [class.syncing]="syncState == eSyncState.syncing">

        <div class="spacer-edge">
        </div>

        <div id="prop-pane">
            <label for="priority-chooser-{{data.id}}">Priorit&auml;t</label>
            <input id="priority-chooser-{{data.id}}" class="side-pane-item"
                    type="number"
                    min="1"
                    [value]="data.priority"
                    (change)="onChangePriority($event)">
        </div>
        
        <div class="spacer-middle">
        </div>

        <div id="action-pane">
            <div *ngIf="isPoster">
                <button id="create-button" class="side-pane-item" (click)="onCreate()">
                    CREATE
                </button>
            </div>
            <div *ngIf="!isPoster">
                <button id="update-button" class="side-pane-item" (click)="onUpdate()">
                    UPDATE
                </button>
                <button id="reset-button" class="side-pane-item" (click)="onReset()">
                    RESET
                </button>
                <button id="delete-button" class="side-pane-item" (click)="onDelete()">
                    DELETE
                </button>
            </div>
        </div>

        <div class="spacer-edge">
        </div>

    </div>

</div>
