#container {
    display: flex;
    justify-content: space-between;
    background-color: #cccccc;
    border-radius: 8px;
    margin: 10px 0px;
    padding: 4px;
}

#container p {
    color: black;
    /* margin: 4px; */
    margin-top: 8px;
    margin-bottom: 2px;
    padding-left: 1em;
}

#text-pane {
    flex: 1 1 500px;
}

.editor-container {
    margin: 4px;
}

#side-pane {
    flex: 0 1 5em;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    border-left: 2px solid white;
    padding-left: 4px;
}

.side-pane-item {
    width: 100%;
    box-sizing: border-box;
}

.spacer-middle {
    flex: 3 1;
}

.spacer-edge {
    flex: 1 1;
}
