<div class="topbar-container">

    <div class="logo">
        <p class="logohead">
            bote weber
        </p>
        <p class="logofoot">
            transporte &amp; dienstleistungen noderney &lt;&gt; norden
        </p>
    </div>
    
    <div class="spacer">

    </div>
    
    <div id="nav">
        <div class="navbutton">
            start
        </div>
        <div class="navbutton">
            start2
        </div>
        <div class="navbutton">
            start3
        </div>
    </div>
    
</div>