
#action-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* padding: 10px; */

    border-top: 2px solid white;
    border-radius: 0px 0px 6px 6px;
    padding: 4px 10px;
}

.synced {
    background-color: rgb(var(--color-secondary-light));
}

.unsynced {
    background-color: rgb(245, 169, 169);
}

.syncing {
    background-color: rgb(225, 245, 169);
}

button {
    margin: 0px 1px;
}

#action-pane.flash {
    animation: flash .1s step-end 0s 3;
    /* background-color: red; */
}

@keyframes flash {
    0% {
        background-color: red;
    }
    50% {
        background-color: white;
    }
}
