
.news-card {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 2px;
    min-height: 50px;
    color: var(--text-news-color, red);
    background-color: var(--bg-news-color, red);
    background-image: url('../../../assets/crumpled-paper-seamless.png');
}

.headline {
    display: flex;
}

.headline > p {
    margin: 10px;
    flex: 1;

    font-size: 1.2em;
}

.timestamp {
    /* position: absolute; */
    font-size: 10px;
}

.news-card > p {
    /* margin: 10px 0px; */
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}