
#content-container {

    /* margin-top: 100px;
    padding-top: 8px; */
    
    display: flex;
    flex-direction: row;
}

.spacer {
    flex: 1 0 20px;
}

@media (max-width: 1040px) {
    #content-container {
        flex-direction: column;
        align-items: center;
    }
}
