
<!-- <app-admin-editable-element
        [names]="subscriberNames"
        (clickEdit)="onSubsClickEdit()"
        (clickDelete)="onSubsClickDelete()">
</app-admin-editable-element> -->

<div class="outer-container">

    <div class="editor-container">
        
        <div class="list-container">
            
            <div id="new-subscriber-element-container">
                <app-admin-editable-element
                    [value]="-1"
                    [name]="'Neuer Abonnent'"
                    (clickEdit)="onEditElement($event)">
                    </app-admin-editable-element>
            </div>
    
            <div id="existing-subscriber-element-container">
                <app-admin-editable-element
                    *ngFor="let s of subscribersRenderNames"
                    [value]="s.id"
                    [name]="s.name"
                    (clickEdit)="onEditElement($event)">
                </app-admin-editable-element>
            </div>
    
        </div>
    
        <div class="propeditor-container">
            <app-admin-propeditor-subscriber
                [data]="editedSubscriber"
                (dataChanged)="onEditedDataChanged()">

            </app-admin-propeditor-subscriber>
            
            <app-crud-action-pane
                [isPoster]="editedSubscriber.id < 0"
                (create)="createSubscriber()"
                (update)="updateSubscriber()"
                (reset)="resetSubscriber()"
                (delete)="deleteSubscriber()">
    
            </app-crud-action-pane>
        </div>

    </div>

    <div class="pageselect-container">
        <app-page-select
            [elementsMax]="allSubscriberIds.length"
            [buttonsAdj]="pageButtonsAdj"
            [pageSelected]="pageSel"
            [elementsPerPage]="pagePer"
            [elementsPerPageDefault]="pagePer"
            (pageSelectedChange)="onPageSelChanged($event)"
            (elementsPerPageChange)="onPagePerChanged($event)"
            >
        </app-page-select>
    </div>

</div>
