
#outer-container {
    display: flex;

    /* flex-direction: column; */
    align-items: stretch;
    justify-content: space-evenly;
}

#text-container {
    /* margin: 8px;
    height: 500px; */
}

#box-container {
    /* margin: 8px; */
}

.ck {
    color: black;
}

.spacer {
    flex-basis: 100px;
}

:host ::ng-deep .ck-editor__editable_inline {
    /* min-height: 500px; */
    min-height: 100%;
}



/* .ck-editor__editable_inline {
    width: auto;
    min-height: 500px;
} */