
<div id="outer-container">

    <p>
        INFO:
        <br> <br>
        Enter = neuer Absatz (inkl. Abstand zum Vogänger)
        <br>
        Shfit + Enter = neue Zeile innerhalb eines Absatzes
    </p>

    <div id="editor-container">
        
        <div id="text-container">

            <p>Begr&uuml;&szlig;ungstext</p>
            
            <!-- <ckeditor [editor]="editor_text" [data]="info.text"></ckeditor> -->
            <div id="editor_text">
                <!-- {{info.text}} -->
            </div>

        </div>

        <div class="spacer">
            
        </div>

        <div id="box-container">

            <p>NY Adressbox - Oben</p>
            
            <!-- <ckeditor [editor]="editor_ny_top" [data]="info.greets.he.top"></ckeditor> -->
            <!-- <ckeditor [editor]="editor_ny_top"></ckeditor> -->
            <div id="editor_ny_top">

            </div>

            <p>NY Adressbox - Unten</p>
            
            <!-- <ckeditor [editor]="editor_ny_bot" [data]="info.greets.he.bot"></ckeditor> -->
            <!-- <ckeditor [editor]="editor_ny_bot"></ckeditor> -->
            <div id="editor_ny_bot">

            </div>
            
            <p>NO Adressbox - Oben</p>
            
            <!-- <ckeditor [editor]="editor_no_top" [data]="info.greets.moin.top"></ckeditor> -->
            <!-- <ckeditor [editor]="editor_no_top"></ckeditor> -->
            <div id="editor_no_top">

            </div>
            <p>NO Adressbox - Unten</p>
            
            <!-- <ckeditor [editor]="editor_no_bot" [data]="info.greets.moin.bot"></ckeditor> -->
            <!-- <ckeditor [editor]="editor_no_bot"></ckeditor> -->
            <div id="editor_no_bot">

            </div>
            <!-- <textarea id="tarea_no_bot" cols="30" rows="10">
                {{info.greets.moin.bot}}
            </textarea> -->

        </div>

    </div>

</div>

    <button (click)="onClick()">
        STORE
    </button>