
<div id="outer-container">

    <p>
        INFO:
        <br> <br>
        Enter = neuer Absatz (inkl. Abstand zum Vogänger)
        <br>
        Shfit + Enter = neue Zeile innerhalb eines Absatzes
    </p>

    <div id="editor-container">
        
        <div id="text-container">

            <p>Begr&uuml;&szlig;ungstext</p>

            <app-admin-editor #editorText [data]="info.text">
            </app-admin-editor>

        </div>

        <div class="spacer">
            
        </div>

        <div id="box-container">

            <p>NY Adressbox - Oben</p>

            <app-admin-editor #editorNyTop [data]="info.greets.he.top">
            </app-admin-editor>

            <p>NY Adressbox - Unten</p>

            <app-admin-editor #editorNyBot [data]="info.greets.he.bot">
            </app-admin-editor>
            
            <p>NO Adressbox - Oben</p>

            <app-admin-editor #editorNoTop [data]="info.greets.moin.top">
            </app-admin-editor>

            <p>NO Adressbox - Unten</p>

            <app-admin-editor #editorNoBot [data]="info.greets.moin.bot">
            </app-admin-editor>

        </div>

    </div>

</div>

<button (click)="onClickStore()">
    STORE
</button>

<button (click)="onClickReset()">
    RESET
</button>