
<div class="info-container">
    
    <img id="map" width="500px" src="assets/map.svg" alt="">
    
    <div id="ny-greet" class="greet-box">
        <img id="he" width="100px" src="assets/he.svg" alt="">
        <div class="address-box">
            <p>Am Hafen 14 <br> 26548 Norderney</p>
            <hr width="90%">
            <p>Annahmezeiten: <br> Montag - Donnerstag 16:30 - 18:30 Uhr <br> Sonntag 18:00 - 19:00 Uhr</p>
        </div>
    </div>
    
    <div id="no-greet" class="greet-box">
        <img id="moin" width="100px" src="assets/moin.svg" alt="">
        <div class="address-box">
            <p>bei C.E. Popken <br> Gl&uuml;ckauf 15 <br> 26506 Norden</p>
        </div>
    </div>
    
</div>
    