.info-container {
    position: relative;
    /* text-align: center; */
}

.greet-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px;
    position: absolute;
    /* right: 20px; */
    left: 150px;
    border-radius: 10px 20px;
    background-color: #444444dd;
}

.address-box {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}

.address-box p {
    margin: 10px 0px;
}

.address-box hr {
    margin: 0px 8px;
}

#ny-greet {
    top: 10px;
}

#no-greet {
    bottom: 100px;
}

/* #he {
    top: 10px;
}

#moin {
    bottom: 10px;
} */