.info-container {
    display: flex;
    flex-direction: column;

    width: 500px;

    /* border: 1px solid yellow; */
    border-radius: 5px;
    background-color: #333333;
}

#contact-info {
    /* width: 200px; */
    
    /* margin: 10 px; */
    padding: 10px;

    /* background-color: #444444dd; */
}

#contact-info p {
    margin-top: 0px;
    /* width: inherit; */
}

a {
    color: #9fbbff;
    text-decoration: none;
}

#location-info {
    position: relative;
}

.greet-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px;
    right: 10px;
    /* left: 150px; */
    border: 1px solid #555555;
    border-radius: 10px 40px;
    background-color: #333333dd;
}

.address-box {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}

.address-box p {
    margin: 0px;
}

.address-box hr {
    margin: 8px 0px;
    border: none;
    height: 1px;
}

#ny-greet {
    top: 10px;
}

#no-greet {
    bottom: 50px;
}

/* #he {
    top: 10px;
}

#moin {
    bottom: 10px;
} */