.info-container {
    display: flex;
    flex-direction: column;

    width: 500px;
    padding: 0px;
}

#contact-info {
    padding: 10px;
}

#contact-info p {
    margin-top: 0px;
    /* width: inherit; */
}

#location-info {
    position: relative;
}

.greet-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px;
    right: 10px;
    /* left: 150px; */
    border: 1px solid rgb(var(--color-primary-dark));
    border-radius: 10px 40px;
    background-color: rgba(var(--color-primary-light), 0.9);
}

.address-box {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}

.address-box div p {
    margin: 0px;
}

.address-box hr {
    margin: 8px 0px;
    border: none;
    height: 1px;
}

#ny-greet {
    top: 10px;
}

#no-greet {
    bottom: 50px;
}

@media (max-width: 1040px) {
    .info-container {
        width: 100%;
    }

    #map {
        display: none;
    }

    .greet-box {
        position: static;
        margin-left: 10px;
    }

    #location-info {
        display: flex;
        justify-content: space-around;
        align-self: center;
        padding-bottom: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 800px) {
    .greet-box img {
        display: none;
    }
}
