
<div class="info-container page-element">

    <ng-container *ngIf="info">

        <div id="contact-info" [innerHTML]="info.text">
        </div>
        
        <div id="location-info">
            <img id="map" src="assets/map.svg" alt="">
            
            <div id="ny-greet" class="greet-box">
                <img id="he" width="100px" src="assets/he.svg" alt="">
                <div class="address-box">
                    <div [innerHTML]="info.greet_ny_top">
                    </div>
                    <hr>
                    <div [innerHTML]="info.greet_ny_bot">
                    </div>
                </div>
            </div>
            
            <div id="no-greet" class="greet-box">
                <img id="moin" width="100px" src="assets/moin.svg" alt="">
                <div class="address-box">
                    <div [innerHTML]="info.greet_no_top">
                    </div>
                    <hr>
                    <div [innerHTML]="info.greet_no_bot">
                    </div>
                </div>
            </div>
        </div>

    </ng-container>

</div>
    