
.news-card {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid rgb(var(--color-primary-dark));
    border-radius: 2px;
    min-height: 50px;
    color: rgb(var(--text-color-dark));
    background-color: rgb(160, 160, 160);
    background-image: url('/assets/crumpled-paper-seamless.png');
}

.headline {
    display: flex;
}

.title-container {
    flex: 1;
}

.title-container > p {
    margin: 5px 5px 10px 5px;
    font-size: 1.2em;
}

.timestamp {
    /* position: absolute; */
    font-size: 10px;
}

.message-container > p {
    /* margin: 10px 0px; */
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}