
#outer-container {
    /* width: var(--content-width); */
    width: 100%;
}

.news-editor-container {
    margin: 10px 0px;
}

.priority-spaced-news-editor {
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 0 0 2em;
}
