
<p>
    INFO:
    <br> <br>
    Enter = neuer Absatz (inkl. Abstand zum Vogänger)
    <br>
    Shift + Enter = neue Zeile innerhalb eines Absatzes
</p>

<div id="outer-container">

    <hr>

    <p>
        Neue Nachricht verfassen
    </p>
    
    <div id="new-news-editor-container">

        <!-- <div class="news-editor new-news-editor"> -->
            <app-admin-news-editor
                    [data]="blankNewsData"
                    [isPoster]=true
                    (postNews)="post($event)"
            >
            </app-admin-news-editor>

            <!-- <div class="edit-panel">
                <button>
                    +
                </button>
                <input type="number" min="0">
            </div>
        </div> -->

    </div>

    <hr>

    <p>
        Alte Nachrichten bearbeiten
    </p>

    <div id="existing-news-editor-container">

        <!-- <div *ngFor="let n of news" class="news-editor existing-news-editor"> -->
            <app-admin-news-editor *ngFor="let n of news"
                    [data]="n"
                    (putNews)="put($event)"
                    (deleteNews)="delete($event)"
            >
            </app-admin-news-editor>

            <!-- <div class="edit-panel">
                <button>
                    -
                </button>
                <input type="text">
            </div>
        </div> -->
        
    </div>

</div>

<button (click)="onClickDebug()">
    DEBUG
</button>