
<p>
    INFO:
    <br> <br>
    Enter = neuer Absatz (inkl. Abstand zum Vogänger)
    <br>
    Shift + Enter = neue Zeile innerhalb eines Absatzes
</p>

<!-- <div style="border: 1px solid red;"> -->
<!-- <div>
    <app-admin-news-editor [data]="testNewsData">
    </app-admin-news-editor>
</div> -->


<div id="outer-container">
    
    <div id="editor-container">

        <app-admin-news-editor *ngFor="let n of news" [data]="n">
        </app-admin-news-editor>
        
    </div>

</div>

<button (click)="onClickStore()">
    STORE
</button>

<button (click)="onClickReset()">
    RESET
</button>

<button (click)="onClickDebug()">
    DEBUG
</button>