<div class="container">

    <button
        *ngFor="let i of pageNumbers"
        value="{{i}}"
        [class.selected]="i == pageSelected"
        (click)="onClicked($event)"
    >
        {{i}}
    </button>

    <div class="per-container">
        pro Seite:
        <select
            name="perPage"
            [value]="elementsPerPageDefault"
            (change)="onChangePerPage($event)"
        >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

</div>
