
.container {
    display: flex;
    justify-content: center;
}

button {
    margin: 2px;
    background: none;
    color: rgb(var(--text-color-light));
}

button.selected {
    background-color: rgb(var(--color-secondary-dark));
}

.per-container {
    margin-left: 20px;
}
