<div class="container">

    <div
        *ngFor="let i of pageNumbers"
        class="page-tile-container"
    >
        <div
            *ngIf="i >= 0"
            class="page-tile page-button"
            value="{{i}}"
            [class.selected]="i == pageSelected"
            (click)="onClicked($event)"
        >
            {{i}}
        </div>
        <div
            *ngIf="i < 0"
            class="page-tile page-dots"
        >
            ...
        </div>
    </div>

    <div class="per-container"
    >
        <label for="perPage">
            pro Seite:
        </label>
        <select
            id="perPage"
            name="perPage"
            [value]="elementsPerPageDefault"
            (change)="onChangePerPage($event)"
        >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>

</div>
