
.edge-spacer {
    flex: 1 1;
}

#topbar-container {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    /* padding-bottom: 0.5em; */
    height: 100px;
    
    background-color: rgb(var(--color-primary-dark));;
    
    /* background-image: url('../../assets/auto-cropped.jpg'), linear-gradient(to right, black, white);
    background-size: auto 100%; */
    /* background: linear-gradient(to right, #111111, #111111, transparent), url("../../assets/auto-cropped.jpg") no-repeat center;  */

    /* background-image: url("../../../assets/car-cropped-faded.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right; */

    display: flex;
}

#inner-container {
    flex: 0 1 var(--content-width);
    display: flex;
    align-items: center;
}

#spacer1 {
    flex: 0 1 3em;
}

#spacer2 {
    flex: 1 1;
}

#nav {
    display: flex;
}

.navbutton {
    margin: .75em;
    padding: 0.25em;
    font-size: 24px;
    /* border: 0.1em solid #555555; */
    background-color: rgb(var(--color-primary-light));
}

#image-container {
    /* height: auto; */
}

img {
    height: 100%;
    max-width: 100%;
}

.logo {
    /* margin: 0.5em; */
    /* margin: 8px; */
    /* margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 0.5em; */
    /* margin-left: 30px; */
}

.logohead {
    font-size: 60px;
    margin: 0px;
}

.logofoot {
    font-size: 12px;
    margin: 0px;
}