
<div id="topbar-container">
    
    <div class="edge-spacer">
    </div>
    
    <div id="inner-container">
        
        <div class="logo">
            <p class="logohead">
                bote weber
            </p>
            <p class="logofoot">
                transporte &amp; dienstleistungen noderney &lt;&gt; norden
            </p>
        </div>
        
        <div id="spacer1">
        </div>
        
        <div id="nav">
            <div class="navbutton">
                start
            </div>
            <div class="navbutton">
                start2
            </div>
        </div>

        <div id="spacer2">
        </div>
        
        <!-- <div id="image-container"> -->
            <img src="assets/car-cropped-faded.png" alt="">
        <!-- </div> -->
        
    </div>
    
    <div class="edge-spacer">
    </div>

</div>
    