
<!-- <div class="editable-list-container page-element"> -->

    <div class="element">
        <div>
            {{name}}
        </div>
        
        <div class="element-button-container">
            <button class="element-button element-edit-button"
                    (click)="onClickEdit()">
            </button>

            <!-- <button class="element-button element-delete-button"
                    (click)="onClickDelete()">
            </button> -->
        </div>
    </div>

<!-- </div> -->
