/* You can add global styles to this file, and also import other style files */

:root {
    /* color variables */
    --color-primary: 47,47,47;
    --color-primary-light: 62,62,62;
    --color-primary-dark:0,0,0;
    --color-secondary:157,184,255;
    --color-secondary-light: 163,182,237;
    --color-secondary-dark: 107,136,204;
    --text-color-light: 255,255,255;
    --text-color-dark: 33,33,33;
    --color-alert:245, 169, 169;
    --color-warning:225, 245, 169;

    --content-width: 1000px;

    color: rgb(var(--text-color-light));
    background-color: rgb(var(--color-primary-light));
    background-image: url(assets/wave_clean.svg);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background-waves {
    stroke: rgb(var(--color-secondary));
}

hr {
    color: rgb(var(--text-color-light));
    background-color: rgb(var(--text-color-light));
}

body {
    margin: 8px 30px;
}

.site-link {
    /* color: rgb(var(--color-secondary)); */
    color: white;
    /* color: #9db8ff; */
    text-decoration: none;
}

.page-element {
    border-radius: 5px;
    background-color: rgb(var(--color-primary));
    padding: 10px;
}


.modal {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(var(--color-primary-dark));
    background-color: rgba(var(--color-primary-dark), 0.6);
 }

.modal-open {
    display: flex;
}

.modal > * {
    background-color: rgb(var(--color-primary-light));
    border: 1px solid rgb(var(--color-primary-dark));
    padding: 10px;
}
