/* You can add global styles to this file, and also import other style files */

:root {
    /* color variables */
    --color-primary: 47,47,47;
    --color-primary-light: 62,62,62;
    --color-primary-dark:0,0,0;
    --color-secondary:157,184,255;
    --color-secondary-light: 163,182,237;
    --color-secondary-dark: 107,136,204;
    --text-color-light: 255,255,255;
    --text-color-dark: 33,33,33;
    --link-color: 157,184,255; /* == secondary color */
    --link-color-visited: 147, 132, 207;
    --color-alert:245, 169, 169;
    --color-warning:225, 245, 169;

    --content-width: 1000px;

    color: rgb(var(--text-color-light));
    background-color: rgb(var(--color-primary-light));
    background-image: url(assets/wave_clean.svg);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background-waves {
    stroke: rgb(var(--color-secondary));
}

hr {
    color: rgb(var(--text-color-light));
    background-color: rgb(var(--text-color-light));
}

body {
    margin: 8px 0px;
}

a {
    color: rgb(var(--link-color));
}

a:visited {
    color: rgb(var(--link-color-visited));
}

.site-link, .site-link:visited {
    /* color: rgb(var(--color-secondary)); */
    color: white;
    /* color: #9db8ff; */
    text-decoration: none;
}

.page-element {
    border-radius: 5px;
    background-color: rgb(var(--color-primary));
    padding: 10px;
}
