
:host {
    width: 100%;
}

#nav {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-bottom: 12px;
}

a {
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
    background-color: rgb(var(--color-primary));
}

a.active {
    background-color: rgb(var(--color-secondary-dark));
}
