.news-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(var(--color-primary));
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5px 0px; */
    border: 2px solid rgb(var(--color-primary-light));;
}

.headline > p {
    margin: 10px;
}

#spacer {
    flex-basis: 10px;
}

#sub-button {
    margin: 5px;
    padding: 5px;
    background-color: rgb(var(--color-secondary-dark));
}

.priority-spaced-news-editor {
    display: flex;
    flex-direction: column;
}

.priority-spacer {
    flex: 0 0 1em;
}
