
<div class="news-container page-element">

    <div class="headline">
        <p>Aktuelle Infos</p>
        <a id="sub-button" class="site-link" routerLink="subscribe">
            abonnieren
        </a>
    </div>
    
    <div class="priority-spaced-news-editor" *ngFor="let n of news; index as i; last as isLast">

        <app-user-news-card [data]="n">
        </app-user-news-card>
        
        <div class="priority-spacer" *ngIf="!isLast && news[i].priority != news[i+1].priority">
        </div>
    
    </div>

    <div class="pageselect-container">
        <app-page-select
            [elementsMax]="allNewsIds.length"
            [buttonsAdj]="pageButtonsAdj"
            [pageSelected]="pageSel"
            [elementsPerPage]="pagePer"
            [elementsPerPageDefault]="pagePer"
            (pageSelectedChange)="onPageSelChanged($event)"
            (elementsPerPageChange)="onPagePerChanged($event)"
        >
        </app-page-select>
    </div>
    
</div>
