
<div class="news-container page-element">

    <div class="headline">
        <p>Aktuelle Infos</p>
        <div id="sub-button">
            abonnieren!
        </div>
    </div>
    
    <div id="spacer">
    </div>

    <div class="priority-spaced-news-editor" *ngFor="let n of news; index as i; last as isLast">

        <app-user-news-card [data]="n">
        </app-user-news-card>
        
        <div class="priority-spacer" *ngIf="!isLast && news[i].priority != news[i+1].priority">
        </div>
    
    </div>
    
</div>
