<footer>

    <div class="footer-item footer-item-left">
        &copy; {{currentYear}} Bote Weber Norderney
    </div>

    <div class="footer-item footer-item-middle">
        <!-- <a href="https://www.boteweber.de/index.php?option=com_contact&view=contact&id=1&Itemid=109">Kontakt</a> -->
        <a class="" routerLink="/contact">Kontakt</a>
    </div>

    <div class="footer-item footer-item-right">
        <!-- <a href="https://www.boteweber.de/index.php?option=com_content&view=article&id=4&Itemid=116">Datenschutz</a> -->
        <a class="" routerLink="/privacy">Datenschutz</a>
    </div>
    
</footer>